<div class="card-booking">

      <img src= "https://images.unsplash.com/photo-1535722339661-7f22185bc7ca?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80">

  <div class="card-booking-infos">
    <div >

    <h2><%= booking.sitter.name %></h2>
    <p><%= booking.sitter.location %></p>
    </div>
     <h3>Completed</h3>
      <% if (booking.job.ends_at < Time.now) && (booking.status == "confirmed") %>
    <% else %>
      <p><%= booking.status %></p>
    <% end %>
    <div ><% if (booking.job.ends_at < Time.now) && (booking.status == "confirmed") %></div>
      <p><%= link_to "Write a review", new_sitter_review_path(booking.sitter), class: "btn btn-flat-booking" %></p>
    <% end %>
  </div>
</div>

