.card-product-page {
  overflow: hidden;
  height: 160px;
  weight: 300px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  background: white;
}

.card-product-page img {
  height: 100%;
  width: 120px;
  object-fit: cover;
  transition: transform .5s, filter 0.5s ease-in-out;
  filter: grayscale(40%);
}

.card-product-page:hover img {
filter: grayscale(0);
transform: scale(1.1);
}

.card-product-page h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product-page p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product-page .card-product-infos {
  padding: 16px;
}
